* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(bg.jpg);
    opacity: 90%;

}

.main-container {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;

}

.main-container h1 {
    text-align: center;
    color: white;
    margin-top: 50px;

}

.input-block {
    display: grid;
    grid-template-columns: 84% 15%;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;

}

#input_task {
    height: 40px;
    border-radius: 1.3vh;
    font-size: 2.5vh;
    border-style: none;
    padding: 5px;
    align-items: center;
    color: rgb(104, 63, 2);
    border: 1px solid #4e1341;

}

#input_task:focus {
    outline: none;

}

#add_task {
    height: 40px;
    background-color: #4e1341;
    border-radius: 8px;
    text-align: center;
    color: white;
    padding: 9px;
    font-size: 18px;
    align-items: center;

}

#todo-list {
    margin-top: 50px;
}

.todo-task {
    display: grid;
    grid-template-columns: 75% 10% 15%;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding: 3px;
    margin-top: 20px;
    background-color: rgb(239, 253, 239);
    color: rgb(104, 63, 2);
    border-radius: 8px;
    border: 1px solid #4e1341;
    font-size: 25px;
}


.todo-task h6 {
    white-space: nowrap;
    /* Запрещаем перенос строк */
    overflow: hidden;
    /* Обрезаем все, что не помещается в область */
    /* Цвет фона */
    text-overflow: ellipsis;
    /* Добавляем многоточие */
}

.btn-del {
    color: white;
    text-align: center;
}



.btn-complate {
    text-align: center;
    border-left: 1px dashed gray;
    border-right: 1px dashed gray;
}

.task-complate {
    text-decoration: line-through;
    color: rgb(70, 0, 108);
}